<h1>Homes#top</h1>
<p>ここはアドミンでもパブリックでも使えるホームズトップ</p>

<li>
<%= link_to  customers_show_path(current_customer) ,class: "nav-link text-black" do %>
  <i class="text-right"></i> マイページ
<%end%>
</li>
<li>
<%= link_to  items_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i></i> 商品一覧
<%end%>
</li>
