<h1>Homes#top</h1>
<p>ここはアドミンでもパブリックでも使えるホームズトップ</p>

<li>
<%= link_to  public_post_images_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i> ポストイメージパス
<%end%>
</li>
<li>
<%= link_to  homes_top_path ,class: "nav-link text-black" do %>
  <i class="text-right"></i></i> ホームページ
<%end%>
</li>
