<div class="mx-auto" style="width: 500px;">

<h1>ニュートリくん</h1>
<p>健康に良さそうな食事を投稿しよう</p>
<%= link_to "手ばかり栄養とは", public_hand_path ,class: "btn btn-warning"  %>


<%= link_to "投稿一覧", public_posts_path ,class: "btn btn-success"  %>

<% if customer_signed_in? %>
<%= link_to  "投稿する" , new_public_post_path ,class: "btn btn-info"  %>
<%end%>

</div>